# requirements-training.txt
# Inherit all common packages
-r common-requirements.txt

# --- Training Service-Specific Packages ---
fastapi==0.115.12
uvicorn==0.34.3
prometheus_client==0.22.1
joblib==1.5.1
nltk==3.9.1
boto3==1.37.3
mypy_boto3_s3
pyyaml==6.0.2
dvc[s3]==3.60.0
lightgbm==4.6.0