# This file combines all dependencies for CI/CD and development purposes.

# --- Service-Specific Dependencies ---
# These files already include the common dependencies from common-requirements.txt
-r requirements-training.txt
-r requirements-prediction.txt

# --- CI/CD & Development Tools ---
pytest  # For running unit tests
flake8  # For linting Python code